/*******************************
            Global
*******************************/
html,
body {
  font-size: 15px; }

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
  font-weight: 300; }

#post p {
  font-weight: 400; }

/*******************************
          UI Overrides
*******************************/
.ui.header {
  font-family: 'Source Sans Pro', "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.overview .ui.header {
  padding: 0.5em 0 .3em 0; }

h3 {
  font-weight: 300;
  font-size: 1.5em; }

.back p {
  font-weight: normal; }

.ui.inverted.fixed.menu {
  background-color: black;
  opacity: 0.6; }

i.inverted.blue.icon {
  background-color: #137abf !important;
  color: #FFF; }

.ui.blue.button {
  background-color: #5ea1d6 !important;
  color: #FFF; }
  .ui.blue.button:hover {
    background-color: #0d68ad !important; }

.ui.image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  background-color: transparent; }

.ui.button {
  font-weight: normal;
  text-decoration: none; }

.ui.modal > .close {
  color: white; }

.ui.modal .left {
  width: 70%; }
  .ui.modal .left .image {
    width: 100% !important; }
.ui.modal .right {
  line-height: 1.5em; }
.ui.modal strong {
  color: #5ea1d6; }

#architecture strong {
  color: #5ea1d6;
  font-size: 1.5em; }

a {
  color: #1665b1;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease; }

#home-blog .item a {
  color: #f4fbf9; }

a:hover {
  color: #00BAFF; }

p a {
  font-weight: bold; }

.ui.segment {
  position: relative;
  border: none !important;
  background-color: #FFF;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0px; }

#blog .item {
  min-height: 150px; }
  #blog .item .name {
    font-size: 1.5rem; }
  #blog .item .author {
    font-size: 1em;
    font-weight: 400;
    color: #009FDA; }
  #blog .item .meta, #blog .item .description {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5); }

#portfolio .ui.items {
  margin-left: 2%;
  margin-right: 2%; }
#portfolio .ui.items .item > .content > .description {
  clear: both;
  margin: 0px;
  color: rgba(0, 0, 0, 0.8); }
#portfolio .ui.items .item > .content > .name {
  margin-top: 1em; }
#portfolio .ui.four.items > .item {
  width: 23%;
  margin-right: 1.5%; }

.ui.inverted.selection.menu > .item {
  color: rgba(255, 255, 255, 0.9); }

.ui.reveal > .visible.content {
  -webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1) 0.15s;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1) 0s; }

.menu .right.menu > .mobile.item {
  display: none; }

.ui.page.grid.segment {
  padding-top: 2rem;
  padding-bottom: 2rem; }

#footer {
  background-image: url(../images/bg.jpg) !important;
  -webkit-background-size: cover;
  background-size: cover; }

.masthead.segment {
  background-image: url(../images/bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0em;
  padding-top: 4rem;
  overflow: hidden;
  -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
  box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important; }

.masthead.segment .column {
  position: relative; }

.masthead.segment .information {
  margin: 3em 1em 1em 80px; }

.masthead.segment .information p {
  max-width: 600px;
  margin: 0em 0px 2em 0em;
  font-size: 2.5em; }

h1.ui.header {
  font-size: 3em;
  font-weight: 700; }

.masthead.segment h1.ui.header .sub {
  font-size: 0.7em; }

.masthead.segment .image {
  position: absolute;
  left: 0%;
  bottom: -110px; }

.overview .divided.grid .header + p {
  min-height: 100px; }

.ui.shape .icon,
.link.list .icon {
  margin: 0em;
  padding: 0em; }

.ui.cube.shape .side {
  background-color: transparent; }

/*******************************
          Responsive
*******************************/
/* Mobile Only */
@media only screen and (max-width: 768px) {
  .ui.ribbon.label {
    left: -3.1em !important; }

  .ui.modal .left {
    width: 100%; }
    .ui.modal .left .image {
      width: 100% !important; }
  .ui.modal .right {
    line-height: 1.5em; }
  .ui.modal strong {
    color: #5ea1d6; }

  .ui.page.grid.segment {
    padding-top: 2rem;
    padding-bottom: 2rem; }

  .menu .right.menu > .item {
    display: none; }

  .menu .right.menu > .mobile.item {
    display: block; }

  .ui.stackable.page.grid > .row > .column, .ui.stackable.page.grid > .column {
    padding-left: 4% !important;
    padding-right: 4% !important; }

  h1.ui.header {
    font-size: 3em; }

  .ui.four.items > .item {
    width: 23%;
    margin-left: 5%;
    margin-right: 5%; }
    .ui.four.items > .item > .content {
      padding: 1em 1em; }

  .ui.stackable.items > .item {
    padding: 0.5em !important; }

  .masthead.segment {
    -webkit-background-size: auto;
    background-size: auto; }

  .masthead.segment .information {
    margin-left: 60px; }

  .masthead.segment .image {
    bottom: -65px;
    width: 150px; }

  .masthead.segment .button {
    font-size: 1rem; }

  .overview .divided.grid .header .icon {
    font-size: 3em; }

  .overview .divided.grid .header + p {
    min-height: 0px; }

  .masthead.segment .column {
    font-size: 0.7rem; }

  .masthead.segment .column p {
    display: none; }

  .selection.list .right.floated {
    display: none; }

  i.huge.icon {
    font-size: 2em;
    vertical-align: middle; } }
