<div id="footer" class="ui inverted black page grid overview segment">
    <div class="row">
        <div class="seven wide column">
            <h3 class="ui header">Contact Us</h3>

            <p>
                Solubis Development <br>
                Warsaw, POLAND<br>
            </p>

            <p>(0048) 666 102 140</p>
            <span>Email: </span><a href="mailto:info@solubis.com">info@solubis.com</a>
        </div>


        <div class="three wide column">
            <a href="https://www.facebook.com/pages/Solubis/195419653888622"> <i
                class="ui icon circular inverted huge blue facebook"></i></a>
        </div>
        <div class="three wide column">
            <a href="https://twitter.com/solubiscom"> <i class="ui icon circular inverted huge purple twitter"></i></a>
        </div>
        <div class="three wide column">
            <a href="https://plus.google.com/117873365113266898337" rel="publisher"> <i
                class="ui icon circular inverted huge red google plus"></i></a>
        </div>
    </div>

</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/scripts/semantic.min.js"></script>
<script src="/scripts/homepage.js"></script>
<script src="/scripts/shCore.js"></script>
<script src="/scripts/shBrushCss.js"></script>
<script src="/scripts/shBrushJScript.js"></script>
<script src="/scripts/shBrushXml.js"></script>

