<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.solubis.com" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:image" content="http://www.solubis.com/images/logo-square.jpg" />
    <meta property="og:description" content="We build modern desktop and mobile web applications using cutting edge technologies and with great User Experience." />

    <title>{{ page.title }}</title>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&subset=latin' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/semantic.min.css"/>
    <link rel="stylesheet" href="/css/syntax.css"/>
    <link rel="stylesheet" href="/css/homepage.css"/>
    <link rel="stylesheet" href="/css/shCore.css"/>
    <link rel="stylesheet" href="/css/shThemeDefault.css"/>
</head>