<!--------------------  MENU  -------------------->

<div class="ui inverted black fixed menu">
    <a class="launch item" id="sidebar-toggle">
        <i class="icon list large layout" style="opacity:1;width: 0.8em"></i>
    </a>

    <div class="item">Solubis Development</div>
</div>


<!-------------------- Sidebar ---------------->

<div class="ui black vertical demo sidebar floating thin inverted selection menu">

    <div class="item">


        <a href="#" class="header" style="font-size: 1.4em">
            <i href="#" class="inverted red circular code home icon" style="opacity: 1; margin-top: -5px"></i>
            <b>Start</b>
        </a>
    </div>


    <a href="/pl.html#services" class="item">
    <i class="setting icon"></i>
        Co Robimy
    </a>
    <a href="/pl.html#about" class="item">
    <i class="users icon"></i>
        Kim Jesteśmy
    </a>
    <a href="/pl.html#strengths" class="item">
    <i class="thumbs up icon"></i>
        Nasze Atuty
    </a>
    <a href="/pl.html#portfolio" class="item">
    <i class="desktop icon"></i>
        Przykładowe Prace
    </a>

    <a href="/pl.html#architecture" class="item">
    <i class="shuffle icon"></i>
        Architektua
    </a>
    <a href="/pl.html#technologies" class="item">
    <i class="wrench icon"></i>
        Technologie
    </a>
    <a href="/pl.html#footer" class="item">
    <i class="mail  icon"></i>
        Kontakt
    </a>

</div>