<!--------------------  MENU  -------------------->

<div class="ui inverted black fixed menu">
    <a class="launch item" id="sidebar-toggle">
        <i class="icon list large layout" style="opacity:1;width: 0.8em"></i>
    </a>

    <div class="item">Solubis Development</div>
</div>


<!-------------------- Sidebar ---------------->

<div class="ui black vertical demo sidebar floating thin inverted selection menu">

    <div class="item">


        <a href="#" class="header" style="font-size: 1.4em">
            <i href="#" class="inverted red circular code home icon" style="opacity: 1; margin-top: -5px"></i>
            <b>Home</b>
        </a>
    </div>


    <a href="/eng.html#services" class="item">
    <i class="setting icon"></i>
        What We Do
    </a>
    <a href="/eng.html#about" class="item">
    <i class="users icon"></i>
        Who We Are
    </a>
    <a href="/eng.html#strengths" class="item">
    <i class="thumbs up icon"></i>
        Our Strengths
    </a>
    <a href="/eng.html#portfolio" class="item">
    <i class="desktop icon"></i>
        Sample portfolio
    </a>

    <a href="/eng.html#architecture" class="item">
    <i class="shuffle icon"></i>
        Architecture choices
    </a>
    <a href="/eng.html#technologies" class="item">
    <i class="wrench icon"></i>
        Technology We use
    </a>
    <a href="/eng.html#footer" class="item">
    <i class="mail  icon"></i>
        Contact Us
    </a>

</div>