<div id="modal-netgraph" class="ui basic modal transition">
    <i class="close icon"></i>

    <div class="header">
        Net Graph
    </div>
    <div class="content">

        <div class="left">
            <img class="ui image" src="images/portfolio/netgraph.jpg">
        </div>

        <div class="right">
            Aplikacja do wizualizacji sieci.

            <p>Aplikacja jest zbudowana przy użyciu <strong>Sencha Ext
                JS</strong>
                i graficznej biblioteki<strong>D3</strong>
            </p>

            <p>Aplikacja korzysta z magazynu lokalnego przeglądarki w trybie offline dla buforowania danych i usług
                sieciowych REST JSON dla wymiany danych z serwerem WWW. </p>
        </div>

    </div>
</div>
<div id="modal-sequis" class="ui basic modal transition">
    <i class="close icon"></i>

    <div class="header">
        Sequis
    </div>
    <div class="content">

        <div class="left">
            <img class="ui image" src="images/portfolio/sequis.jpg">
        </div>
        <div class="right">
            Aplikacja do inwentaryzacji sprzętu - wynajem, serwis, magazyn.


            <p>Aplikacja jest zbudowana w oparciu
                <strong>AngularJS</strong>
                i <strong>Semantic UI</strong>.</p>
            Serwer <strong>CouchDB</strong> i
            lokalna biblioteka <strong>PouchDB</strong>
            pozwala na pracę w trybie offline i synchronizację danych między klientem a serwerem.


            <p>Cała logika aplikacji zawarta jest po stronie klienta w kodzie
                JavaScript.</p>

        </div>

    </div>
</div>
<div id="modal-arc" class="ui basic modal transition">
    <i class="close icon"></i>

    <div class="header">
        Kolektor długu
    </div>
    <div class="content">

        <div class="left">
            <img class="ui image" src="images/portfolio/arc.jpg">
        </div>

        <div class="right">
            Aplikacja Android 4.x do obsługi Windykacji.

            <p>Mobilny front-end dla aplikacji internetowej - główne zastosowanie to planowanie zadań
                dla firm lub działów windykacyjnych.</p>

            <p>Aplikacja została zbudowana przy użyciu natywnego
                środowiska <strong>Java</strong>
                dla <strong>systemu Android</strong> z
                synchronizacją między kliencką bazą danych SQLite i serwerem MS SQL Server.</p>
        </div>
    </div>
</div>
<div id="modal-crm" class="ui basic modal transition">
    <i class="close icon"></i>

    <div class="header">
        CRM
    </div>
    <div class="content">

        <div class="left">
            <img class="ui image" src="images/portfolio/crm.jpg">
        </div>
        <div class="right">
            Mobilna aplikacja internetowa do zarządzania relacjami z klientami.

            <p>Aplikacja została zbudowana w oparciu o<strong>Sencha
                Touch</strong></p>

            <p>
                Aplikacja działa na iPhone i iPad prezentując układ interfejsu dostosowujący się do właściwości każdej
                platformy.</p>

            <p>Aplikacja działa w trybie offline (dane są przechowywane w lokalnej bazie danych WebSQL)
                na żądanie wykonywana jest synchronizacja z relacyjną bazą danych MS SQL Server.</p>
        </div>
    </div>
</div>


<div id="modal-gamification-widget" class="ui basic modal transition">
    <i class="close icon"></i>

    <div class="header">
        Widget Gamifikacyjny
    </div>
    <div class="content">

        <div class="left">
            <img class="ui image" src="images/portfolio/gamification-widget.jpg">
        </div>
        <div class="right">
            Widget gamifikacyjny dla platformy One2Tribe
          <p>Aplikacja jest zagnieżdżona w stronie głównej w postaci 'widgetu'.  </p>
          <p>Aplikacja pozwala użytkownikom strony 'macierzystej' wykonywać 'misje', zbierać punkty i zamieniać je na nagrody, zdobywać kolejne poziomy, przeglądać rankingi itp. itd.</p>
            <p>Aplikacja zbudowana została z użyciem
                <strong>AngularJS</strong> i <strong>Bootstrap CSS</strong> (SASS).</p>
            Serwer <strong>Java Enterprise</strong> wystawiający usługi REST stanowi backend dla aplikacji
        </div>

    </div>
</div>


<div id="modal-gamification-mobile" class="ui basic modal transition">
    <i class="close icon"></i>

    <div class="header">
        Aplikacja Mobilna dla platformy One2Tribe
    </div>
    <div class="content">

        <div class="left">
            <img class="ui image" src="images/portfolio/gamification-mobile.jpg">
        </div>

        <div class="right">
            Aplikacja Mobilna dla platformy One2Tribe.
          <p>Aplikacja pozwala użytkownikom wykonywać różnego rodzaju 'misje' (np. quizy), zbierać punkty i zamieniać je na nagrody, zdobywać kolejne poziomy, przeglądać rankingi itp. itd.</p>
            <p>Aplikacja zbudowana została z użyciem <strong>IONIC Framework</strong> opartej o AngularJS i <strong>narzędzia Cordova</strong>.
          <p> Aplikacja jest dostępna zarówno z poziomu przeglądarki, jak i korporacyjnego App Store (w tej wersji posiada dodatkowe funkcje np. powiadomienia Push).</p>
        </div>

    </div>
</div>