<div class="ui basic modal transition" id="modal-crm">
    <i class="close icon"></i>

    <div class="header">
        CRM
    </div>
    <div class="content">

        <div class="left">
            <img class="ui image" src="images/portfolio/crm.jpg">
        </div>
        <div class="right">
            Mobile Web Application for Customer Relationship Management.
            <p>Application was built using
                <strong>Sencha Touch</strong>
                framework and was designed to imitate native iOS Application.</p>
            <p>
                It works on iPhone and iPad using different layout for each platform.</p>

            <p>Application works in offline mode (data is stored in local WebSQL database) nad synchronizes on demand with MS SQL Server relational database.</p>
        </div>
    </div>
</div>

<div class="ui basic modal transition" id="modal-arc">
    <i class="close icon"></i>

    <div class="header">
        Debt Collector
    </div>
    <div class="content">

        <div class="left">
            <img class="ui image" src="images/portfolio/arc.jpg">
        </div>

        <div class="right">
            Android 4.x application for Debt Collection services.

            <p>Mobile front end for web server application - main use case is planning tasks for debt collecting firm or department</p>
            <p>Application was built using
                <strong>Java</strong>
                native environment for
                <strong>Android</strong>
                with synchronization between client SQLite database and server MS SQL Server.</p>
        </div>
    </div>
</div>

<div class="ui basic modal transition" id="modal-sequis">
    <i class="close icon"></i>

    <div class="header">
        Sequis
    </div>
    <div class="content">

        <div class="left">
            <img class="ui image" src="images/portfolio/sequis.jpg">
        </div>
        <div class="right">
            Web Application for equipment maintenance - renting, servicing, inventory.
            <p>Application is built using
                <strong>AngularJS</strong>
                framework and
                <strong>Semantic UI</strong>
                library.</p>
            <strong>CouchDB</strong>
            server and local
            <strong>PouchDB</strong>
            JavaScript library allows offline work and data synchronization between client and server.
            <p>All application logic is contained on client side in JavaScript code.</p>

        </div>

    </div>
</div>

<div class="ui basic modal transition" id="modal-netgraph">
    <i class="close icon"></i>

    <div class="header">
        Net Graph
    </div>
    <div class="content">

        <div class="left">
            <img class="ui image" src="images/portfolio/netgraph.jpg">
        </div>

        <div class="right">
            Web Application for network visualization.
            <p>Application is built using
                <strong>Sencha Ext JS</strong>
                framework and
                <strong>D3</strong>
                graphing library</p>

            <p>Application uses offline Local Storage for caching network data and JSON REST services for data exchange with web server.
            </p>
        </div>

    </div>
</div>

<div class="ui basic modal transition" id="modal-gamification-widget">
    <i class="close icon"></i>

    <div class="header">
        Sequis
    </div>
    <div class="content">

        <div class="left">
            <img class="ui image" src="images/portfolio/gamification-widget.jpg">
        </div>
        <div class="right">
            Web Application Widget for One2Tribe Gamification Platform
            <p>
                The application is nested in the home page in the form of a ' widget ' .
            </p>
            <p>
                The application allows users to do 'missions', collect points and exchange them for rewards, gain new levels, view rankings etc.
            </p>
            <p>
                The application was built using
                <strong>
                    AngularJS
                </strong>
                and
                <strong>
                    Bootstrap CSS
                </strong>
                (SASS) .
            </p>
            Server
            <strong>
                Java Enterprise
            </strong >
            is a REST backend for Angular application

        </div>

    </div>
</div>

<div class="ui basic modal transition" id="modal-gamification-mobile">
    <i class="close icon"></i>

    <div class="header">
        Mobile Application for One2Tribe Gamification Platform
    </div>
    <div class="content">

        <div class="left">
            <img class="ui image" src="images/portfolio/gamification-mobile.jpg">
        </div>

        <div class="right">
            Mobile Web Application for One2Tribe Gamification Platform.
            <p>
                The application allows users to do 'missions', collect points and exchange them for rewards, gain new levels, view rankings etc.
            </p>
            <p>Application is built using
                <strong>IONIC Framework</strong>
                and
                <strong>Cordova tools</strong>
                <p >
                    The application is available both in the browser and Corporate App Store (in this version has additional features such Push Notifications) .
                </p>
            </div>

        </div>
    </div>

    <div class="ui basic modal transition" id="modal-alerter">
        <i class="close icon"></i>

        <div class="header">
            Alerter administration application
        </div>
        <div class="content">
            <div class="center">
                <iframe allowfullscreen frameborder="0" height="480" src="https://www.youtube.com/embed/k7DFNbeuJ0w?rel=0" width="853"></iframe>
            </div>
        </div>
    </div>
