<!DOCTYPE html>
<html>

{% include header.html %}

<body>


{% include menu.html %}

<!--------------------  BANNER  -------------------->

<div class="ui inverted page grid masthead segment">
    <div class="column">
        <div class="ui hidden transition information">
            <h1 class="ui inverted header">
                Solubis Development Blog
            </h1>

            <h3>We write about modern web technologies and trends</h3>
        </div>
    </div>
</div>

<div id="blog" class="ui page relaxed overview segment">

    <div class="row">
        <div class="ui three stackable items">

            {{ content }}

        </div>
    </div>
</div>

<!--------------------  FOOTER  -------------------->

{% include footer.html %}

</body>

</html>