<!DOCTYPE html>
<html>

{% include header.html %}

<body id="home">

{% include menu.html %}

{% include modal.html %}

<!--  BANNER  -->

<div class="ui inverted page grid masthead segment">
    <div class="column">
        <div class="ui hidden transition information">
            <h1 class="ui inverted header">
                We build mobile and desktop web applications
            </h1>

            <h3>Our apps have great User Experience and use cutting edge technologies</h3>
        </div>
    </div>
</div>

<!--  WHAT WE DO  -->

<div id="services" class="ui page grid overview segment">
    <div class="one column row">
        <div class="column">
            <h1 class="center aligned ui header">
                Services
            </h1>
        </div>

    </div>
    <div class="ui three column center aligned stackable divided relaxed grid">
        <div class="row">
            <div class="column">
                <div class="ui icon header">
                    <i class="circular desktop inverted blue icon"></i>
                    Desktop Web Applications
                </div>
                <p>We design and build Desktop Web Applications.
                    We specialize in <strong>business applications</strong> - transactional database
                    systems.</p>
            </div>
            <div class="column">
                <div class="ui icon header">
                    <i class="circular mobile red inverted icon"></i>
                    Mobile Web Applications
                </div>
                <p>We design and build Mobile Applications - hybrid or web (depends on requirements).
                    Mobile app can be a separate product or extension of Desktop Web Application.
                </p>
            </div>
            <div class="column">
                <div class="ui icon header">
                    <i class="circular icon users inverted green "></i>
                    Consulting
                </div>
                <p>We provide variety of consulting services for our customers - project management, training,
                    auditing. </p>
            </div>
        </div>

    </div>
</div>

<!--  WHO WE ARE  -->

<div id="about" class="ui page inverted grid purple relaxed overview segment">
    <div class="column">
        <h1 class="center aligned ui header">
            About Us
        </h1>

        <p><strong>We are group of web technologies enthusiasts. </strong></p>

        <p>
            Our leader, Jurek Błaszczyk, participated in largest IT projects in Poland.
            After years of building critical systems (eg. electronic banking) with corporations such as
            Infovide-Matrix and Asseco,
            he decided to build his own team dedicated to smaller business systems which are characterized by ease of
            use,
            simplicity and efficiency.
        </p>

        <p>
            Our team is small and agile. We use modern technologies to build powerful web applications with rich user
            interface.
            In our projects we use agile project management methodology working closely with the client to build
            products that meet business and usability requirements.
            We provide a full production cycle - from design to implementation and maintenance.
        </p>



      <p>
        For more than three years, our knowledge, experience, as well as currently developed application architecture is focused on <strong> HTML5 </strong>, <strong> JavaScript </strong>, <strong> AngularJS </strong> and <strong> IONIC Framework </strong>.
      </p>

    </div>
</div>

<!--  OUR STRENGTHS  -->

<div id="strengths" class="ui page grid overview inverted segment">
    <div class="one column row">
        <div class="column">
            <h1 class="center aligned ui header">
                Our Strengths
            </h1>
        </div>
    </div>
    <div class="ui three column center aligned stackable divided relaxed grid">
        <div class="row">
            <div class="column">
                <div class="ui icon header">
                    <i class="circular doctor red inverted icon"></i>
                    Quality
                </div>
                <p>We use Test Driven Development, Unit Testing, End To End Testing, performance testing, source code
                    analysis, auditing etc.
                    The result is rock solid software that passes even most rigorous Acceptance Tests</p>
            </div>


            <div class="column">
                <div class="ui icon header">
                    <i class="circular user purple inverted icon"></i>
                    User Experience
                </div>
                <p>We design and build our applications with User Experience as a priority.
                    The result is software that users <strong>WANT TO USE</strong> and not just NEED.</p>
            </div>

            <div class="column">
                <div class="ui icon header">
                    <i class="circular tasks blue inverted icon"></i>
                    Project Management
                </div>
                <p>We have over 15 years experience in managing large and small IT projects.
                    We are able to manage teams of client staff and subcontractors controlling quality, time, and budget
                    using PRINCE, Scrum and client specific methodologies.</p>
            </div>
        </div>
    </div>
</div>

<!--  WHAT WE DID  -->

<div id="portfolio" class="ui page relaxed overview segment">

    <div class="one column row">
        <div class="column">
            <h1 class="center aligned ui header">
                What We Did
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="ui three stackable items">

            <div class="item" id="thumb-crm">

                <div class="ui image dimmable">

                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <i class="circular unhide inverted red large icon"></i>

                                <h2 class="ui header">Show More</h2>
                            </div>
                        </div>
                    </div>

                    <img src="images/portfolio/crm-th.jpg">
                </div>

                <div class="content">
                    <a class="star ui ribbon red label">
                        Mobile
                    </a>

                    <div class="name">CRM</div>
                    <p class="description">Mobile Web Application for iOS</p>
                </div>

            </div>


            <div class="item" id="thumb-arc">

                <div class="ui image dimmable">

                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <i class="circular unhide inverted red large icon"></i>

                                <h2 class="ui header">Show More</h2>
                            </div>
                        </div>
                    </div>

                    <img src="images/portfolio/arc-th.jpg">
                </div>

                <div class="content">
                    <a class="star ui ribbon red label">
                        Mobile
                    </a>

                    <div class="name">Debt Collector</div>
                    <p class="description">Native Android application for debt collection</p>
                </div>
            </div>

            <div class="item" id="thumb-gamification-mobile">

                <div class="ui image dimmable">

                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <i class="circular unhide inverted red large icon"></i>

                                <h2 class="ui header">Show More</h2>
                            </div>
                        </div>
                    </div>

                    <img src="images/portfolio/gamification-mobile-th.jpg">
                </div>

                <div class="content">
                    <a class="star ui ribbon red label">
                        Mobile
                    </a>

                    <div class="name">Gamification Mobile Web Application</div>
                    <p class="description">Mobile application for Gamification Platform</p>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="ui three stackable items">

            <div class="item" id="thumb-sequis">

                <div class="ui image dimmable">

                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <i class="circular unhide inverted purple large icon"></i>

                                <h2 class="ui header">Show More</h2>
                            </div>
                        </div>
                    </div>

                    <img src="images/portfolio/sequis-th.jpg">
                </div>

                <div class="content">
                    <a class="star ui ribbon purple label">
                        Desktop
                    </a>

                    <div class="name">Sequis</div>
                    <p class="description">Web Application for equipment maintenance</p>
                </div>

            </div>


            <div class="item" id="thumb-netgraph">

                <div class="ui image dimmable">

                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <i class="circular unhide inverted purple large icon"></i>

                                <h2 class="ui header">Show More</h2>
                            </div>
                        </div>
                    </div>

                    <img src="images/portfolio/netgraph-th.jpg">
                </div>

                <div class="content">
                    <a class="star ui ribbon purple label">
                        Desktop
                    </a>

                    <div class="name">Net Graph</div>
                    <p class="description">Web Application for network visualization</p>
                </div>

            </div>

            <div class="item" id="thumb-gamification-widget">

                <div class="ui image dimmable">

                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <i class="circular unhide inverted purple large icon"></i>

                                <h2 class="ui header">Show More</h2>
                            </div>
                        </div>
                    </div>

                    <img src="images/portfolio/gamification-widget-th.jpg">
                </div>

                <div class="content">
                    <a class="star ui ribbon purple label">
                        Desktop
                    </a>

                    <div class="name">Gamification Widget</div>
                    <p class="description">Web Application Widget for Gamification Platform</p>
                </div>

            </div>

            <div class="item" id="thumb-alerter">

                <div class="ui image dimmable">

                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <i class="circular unhide inverted purple large icon"></i>

                                <h2 class="ui header">Show More</h2>
                            </div>
                        </div>
                    </div>

                    <img src="images/portfolio/alerter-th.png">
                </div>

                <div class="content">
                    <a class="star ui ribbon purple label">
                        Desktop
                    </a>

                    <div class="name">Alerter</div>
                    <p class="description">Administration application for aler management</p>
                </div>

            </div>
        </div>
    </div>

</div>

<!--  BLOG  -->
<!--div id="blog" class="ui page grid overview inverted stackable relaxed segment">
    <div class="row">
        <div class="column">
            <h1 class="center aligned ui header">
                Our Blog
            </h1>
        </div>
    </div>

    {{ content }}

</div-->


<!--  HOW WE DO IT  -->

<div id="architecture" class="ui page inverted grid relaxed overview segment">
    <div class="column">
        <h1 class="center aligned ui header">
            How We Do It
        </h1>

        <p>We believe in some important modern web trends:</p>

        <p><strong>Single Page Applications</strong> - applications built using lots of JavaScript code on client side.
            User Interface is rendered
            and displayed without roundtrips to server. We communicate with server only for data - no HTML is rendered
            by server.
            We implement this architecture using AngularJS or IONIC Framework with JSON REST services. Benefits are obvious - applications
            behave like native desktop
            applications -
            UI is fast and responsive, users don't wait for operations.
        </p>

        <p><strong>Responsive Applications</strong> - when it's possible we prefer to build one application that adjusts
            it's look and behaviour to runtime platform,
            screen size and input interface. If mobile usage differs from desktop we build two separate web applications
            using different UI frameworks.
        </p>

        <p><strong>Cloud Services</strong> - when it's possible we use Cloud services for data storage and user
            management (Telerik Platform, Firebase, etc.)
            for server management simplification and lowering costs.</p>

        <p><strong>Node.js</strong> - for complicated and secure server logic we use Node.js based server applications -
            that gives us comfort of JavaScript everywhere, simplifies maintenance,
            lowers platform costs, empowers scalability and performance.
        </p>

        <p><strong>NoSQL Databases</strong> - we use modern document based databases (MongoDB, CouchDB) to simplify data
            storage and
            communication between tiers. NoSQL gives us freedom
            that accelerates development and simplifies changes. When necessary we use SQL Servers like Postgress and
            MySQL.
        </p>

    </div>
</div>

<!--  TECHNOLOGIES  -->


<div id="technologies" class="ui page grid stackable overview segment">
    <div class="row">
        <div class="column">
            <h1 class="center aligned ui header">
                What We Use And Know
            </h1>

            <div class="ui horizontal  divider"><i class="heart red icon"></i></div>
        </div>
    </div>
    <div class="center three column aligned row">
        <div class="column">
            <div class="ui image">
                <a href="http://angularjs.org"><img src="images/angularjs.png"></a>
            </div>
        </div>

        <div class="column">
            <div class="ui image">
                <a href="http://www.html5rocks.com/"><img src="images/html-css.jpg"></a>
            </div>
        </div>

        <div class="column">
            <div class="ui image">
                <a href="http://nodejs.org/"><img src="images/node.png"></a>
            </div>
        </div>
    </div>

    <div class="center three column aligned row">
        <div class="column">
            <div class="ui image">
                <a href="http://www.mongodb.org/"><img src="images/mongo.png"></a>
            </div>
        </div>

        <div class="column">
            <div class="ui image">
                <a href="http://couchdb.apache.org/"><img src="images/couchdb.png"></a>
            </div>
        </div>

        <div class="column">
            <div class="ui image">
                <a href="http://www.firebase.com/"><img src="images/firebase.png"></a>
            </div>
        </div>
    </div>

    <div class="center three column aligned row">
        <div class="column">
            <div class="ui image">
                <a href="http://sass-lang.com/"><img src="images/sass-less.png"></a>
            </div>
        </div>
        <div class="column">
            <div class="ui image">
                <a href="http://foundation.zurb.com/"><img src="images/foundation.png"></a>
            </div>
        </div>

        <div class="column">
            <div class="ui image">
                <a href="http://getbootstrap.com/"><img src="images/bootstrap.png"></a>
            </div>
        </div>
    </div>


    <div class="center three column aligned row">
        <div class="column">
            <div class="ui image">
                <a href="http://onsenui.io/"><img src="images/onsen.png"></a>
            </div>
        </div>

        <div class="column">
            <div class="ui image">
                <a href="http://cordova.apache.org/"><img src="images/cordova.png"></a>
            </div>
        </div>

        <div class="column">
            <div class="ui image">
                <a href="http://ionicframework.com/"><img src="images/ionic.png"></a>
            </div>
        </div>
    </div>

</div>

<!--  FOOTER  -->

{% include footer.html %}

</body>

</html>
