<!DOCTYPE html>
<html>

{% include header-pl.html %}

<body id="home">

{% include menu-pl.html %}

{% include modal-pl.html %}

<!--------------------  BANNER  -------------------->

<div class="ui inverted page grid masthead segment">
    <div class="column">
        <div class="ui hidden transition information">
            <h1 class="ui inverted header">
                Budujemy nowoczesne aplikacje internetowe i mobilne
            </h1>

            <h3>Nasze aplikacje to ekstremalna wygoda użytkowania, niezawodność i najnowsze technologie.</h3>
        </div>
    </div>
</div>

<!--------------------  WHAT WE DO  -------------------->

<div id="services" class="ui page grid overview segment">
    <div class="one column row">
        <div class="column">
            <h1 class="center aligned ui header">
                Nasze Usługi
            </h1>
        </div>

    </div>
    <div class="ui three column center aligned stackable divided relaxed grid">
        <div class="row">
            <div class="column">
                <div class="ui icon header">
                    <i class="circular desktop inverted blue icon"></i>
                    Aplikacje internetowe
                </div>
                <p>Projektujemy i budujemy aplikacje internetowe, rozszerzenia Chrome i Firefox.
                    Specjalizujemy się w <strong>aplikacjach biznesowych</strong> - transakcyjnych systemach baz danych
                </p>
            </div>
            <div class="column">
                <div class="ui icon header">
                    <i class="circular mobile red inverted icon"></i>
                    Aplikacje mobilne
                </div>
                <p>Projektujemy i budujemy aplikacje mobilne: natywne, hybrydowe lub internetowe - w
                    zależności od potrzeb. Aplikacja mobilna może być odrębnym produktem lub stanowić rozszerzenie
                    aplikacji internetowej.
                </p>
            </div>
            <div class="column">
                <div class="ui icon header">
                    <i class="circular icon users inverted green "></i>
                    Konsulting
                </div>
                <p>Oferujemy szereg usług konsultingowych dla naszych klientów - zarządzanie projektami,
                    szkolenia, audyty, prace projektowe i programistyczne. </p>
            </div>
        </div>

    </div>
</div>

<!--------------------  WHO WE ARE  -------------------->

<div id="about" class="ui page inverted grid purple relaxed overview segment">
    <div class="column">
        <h1 class="center aligned ui header">
            O Nas
        </h1>

        <p><strong>Jesteśmy grupą pasjonatów technologii internetowych. </strong></p>

        <p>
            Nasz lider, Jurek Błaszczyk, uczestniczył w największych projektach informatycznych w Polsce. Po
            latach budowania systemów klasy Enterprise (np. bankowość elektroniczna) postanowił zbudować własny zespół
            tworzący mniejsze systemy
            biznesowe, które charakteryzują się łatwością użytkowania, prostotą i skutecznością.
        </p>

        <p>
            Od 2010 roku nasz zespół pracował nad prototypem systemu CRM dla iOS, systemem wizualizacji sieci
            korporacyjnych, aplikacją do zarządzania sprzętem i aplikacją do ściągania należności.
        </p>

        <p>
            Nasz zespół jest mały i wydajny. Korzystamy z nowoczesnych technologii do budowy zaawansowanych
            aplikacji internetowych z bogatym interfejsem użytkownika. W naszych projektach wykorzystujemy
            zwinne metodyki zarządzania projektami, ściśle współpracujemy z klientem, aby stworzyć produkty, które
            spełniają wymagania biznesowe i użytkowe. Zapewniamy pełny cykl produkcyjny - od projektu do
            wdrożenia i utrzymania.
        </p>


    </div>
</div>

<!--------------------  OUR STRENGTHS  -------------------->

<div id="strengths" class="ui page grid overview inverted segment">
    <div class="one column row">
        <div class="column">
            <h1 class="center aligned ui header">
                Nasze Atuty
            </h1>
        </div>
    </div>
    <div class="ui three column center aligned stackable divided relaxed grid">
        <div class="row">
            <div class="column">
                <div class="ui icon header">
                    <i class="circular doctor red inverted icon"></i>
                    Jakość
                </div>
                <p>Używamy wytwarzania sterowanego testami (Test Driven Development), wykorzystujemy testy
                    jednostkowe, integracyjne,
                    wydajnościowe, analizę kodu źródłowego, audyty itp. Wynikiem jest doskonała jakość oprogramowania,
                    które
                    przechodzi nawet najbardziej rygorystyczne testy akceptacyjne.</p>
            </div>


            <div class="column">
                <div class="ui icon header">
                    <i class="circular user purple inverted icon"></i>
                    Wygoda Użytkownika (User Experience)
                </div>
                <p>Projektujemy i budujemy nasze aplikacje traktując User Experience jako
                    najwyższy priorytet. Rezultatem jest oprogramowanie, które
                    użytkownicy <strong>chcą używać</strong> a nie tylko
                    potrzebują.</p>
            </div>

            <div class="column">
                <div class="ui icon header">
                    <i class="circular tasks blue inverted icon"></i>
                    Zarządzanie Projektami
                </div>
                <p>Mamy ponad 15-letnie doświadczenie w zarządzaniu dużymi i małymi projektami
                    informatycznymi. Jesteśmy w stanie zarządzać zespołami pracowników klienta i
                    podwykonawców kontrolując jakość, czas i budżet za pomocą metodyk PRINCE, Scrum i innych.</p>
            </div>
        </div>
    </div>
</div>

<!--------------------  WHAT WE DID  -------------------->


<div id="portfolio" class="ui page relaxed overview segment">

    <div class="one column row">
        <div class="column">
            <h1 class="center aligned ui header">
                Co Zrobiliśmy
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="ui four stackable items">


            <div class="item" id="thumb-crm">

                <div class="ui image dimmable">

                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <i class="circular unhide inverted red large icon"></i>

                                <h2 class="ui header">Pokaż więcej</h2>
                            </div>
                        </div>
                    </div>

                    <img src="images/portfolio/crm-th.jpg">
                </div>

                <div class="content">
                    <a class="star ui ribbon red label">
                        Mobilna
                    </a>

                    <div class="name">CRM</div>
                    <p class="description">Internetowa aplikacja mobilna dla iOS</p>
                </div>

            </div>


            <div class="item" id="thumb-arc">

                <div class="ui image dimmable">

                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <i class="circular unhide inverted red large icon"></i>

                                <h2 class="ui header">Pokaż więcej</h2>
                            </div>
                        </div>
                    </div>

                    <img src="images/portfolio/arc-th.jpg">
                </div>

                <div class="content">
                    <a class="star ui ribbon red label">
                        Mobilna
                    </a>

                    <div class="name">Kolektor długów</div>
                    <p class="description">Natywna aplikacja Android do ściągania należności</p>
                </div>
            </div>


            <div class="item" id="thumb-sequis">

                <div class="ui image dimmable">

                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <i class="circular unhide inverted purple large icon"></i>

                                <h2 class="ui header">Pokaż więcej</h2>
                            </div>
                        </div>
                    </div>

                    <img src="images/portfolio/sequis-th.jpg">
                </div>

                <div class="content">
                    <a class="star ui ribbon purple label">
                        Internetowa
                    </a>

                    <div class="name">Sequis</div>
                    <p class="description">Aplikacja do inwentaryzacji sprzętu</p>
                </div>

            </div>


            <div class="item" id="thumb-netgraph">

                <div class="ui image dimmable">

                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <i class="circular unhide inverted purple large icon"></i>

                                <h2 class="ui header">Pokaż więcej</h2>
                            </div>
                        </div>
                    </div>

                    <img src="images/portfolio/netgraph-th.jpg">
                </div>

                <div class="content">
                    <a class="star ui ribbon purple label">
                        Internetowa
                    </a>

                    <div class="name">Net Graph</div>
                    <p class="description">Aplikacja do wizualizacji sieci</p>
                </div>

            </div>
        </div>
    </div>

</div>

<!--------------------  BLOG  -------------------->
<!--div id="blog" class="ui page grid overview inverted stackable relaxed segment">
    <div class="row">
        <div class="column">
            <h1 class="center aligned ui header">
                Our Blog
            </h1>
        </div>
    </div>

    <!--div class="sixteen column row">


    <div class="eight wide column">
        <div class="ui ribbon purple label">Lates article</div>
        <h2 class="ui header">How to Win Your Cats Attention</h2>

        <p>Getting your cat to notice you is a large part of being a pet owner. Although I have a lot of
            patience
            for writing things about cats, perhaps this might be enough body copy to make this section of
            text
            look
            filled out.</p>

        <p>This and other tips can be found in our newsletter, amazing right?</p>

        <div class="ui basic inverted animated button">
            <div class="visible content">Read More</div>
            <div class="hidden content"><i class="right arrow icon"></i></div>
        </div>
    </div>

    <div class="eight wide column">

        <div class="ui ribbon red label">More articles</div>

        <div class="ui animated list">



            <div class="item">
                <a href="/2014/02/10/welcome-to-jekyll.html" class="content">
                    <div class="header">Syntax highlighter CSS</div>
                    This and other tips can be found in our newsletter, amazing right?
                </a>
            </div>



            <div class="item">
                <a href="/2014/02/09/welcome-to-jekyll.html" class="content">
                    <div class="header">Syntax highlighter HTML</div>
                    This and other tips can be found in our newsletter, amazing right?
                </a>
            </div>



            <div class="item">
                <a href="/2014/02/08/welcome-to-jekyll.html" class="content">
                    <div class="header">Syntax highlighter JavaScript</div>
                    This and other tips can be found in our newsletter, amazing right?
                </a>
            </div>


        </div>

        <div class="ui animated inverted basic button">
            <div class="visible content">See All</div>
            <div class="hidden content"><i class="right arrow icon"></i></div>
        </div>

    </div>

</div-->


<!--------------------  HOW WE DO IT  -------------------->

<div id="architecture" class="ui page inverted grid relaxed overview segment">
    <div class="column">
        <h1 class="center aligned ui header">
            Jak To Robimy
        </h1>

        <p>Stosujemy najważniejsze współczesne rozwiązania w architekturze aplikacji internetowych:</p>

        <p><strong>SPA (Single Page Applications)</strong> - Aplikacje zbudowane głównie przy użyciu kodu JavaScript po
            stronie klienta. Interfejs użytkownika jest generowany i
            wyświetlany bez komunikacji z serwerem. Z serwera przesyłamy tylko dane. Realizujemy tę architekturę z
            wykorzystaniem AngularJS i usług JSON
            REST. Korzyści są oczywiste - aplikacje zachowują się jak natywne aplikacje systemu operacyjnego - interfejs
            użytkownika
            jest szybki i czuły, użytkownicy nie czekają na wykonanie operacji.
        </p>

        <p><strong>Aplikacje "Responsive"</strong> - gdy jest to możliwe, wolimy
            budować jedną aplikację, która dostosowuje swój wygląd i zachowanie do urządzenia, rozmiaru
            ekranu i interfejsu
            wejściowego. Gdy wymagania dotyczące aplikacji mobilnej i aplikacji internetowej różnią się znacznie między
            sobą
            to możemy zbudować dwa
            oddzielne systemy przy użyciu różnych bibliotek i technologii. Trzeci przypadek jest wtedy, gdy
            aplikacja internetowa nie jest rozwiązaniem danego problemu - w tym przypadku budujemy natywną aplikację
            mobilną żeby uzyskać lepszą wygodą użytkowania.
        </p>

        <p><strong>Usługi Serwerowe w Chmurze</strong> - gdy jest to możliwe, używamy usług w
            chmurze do przechowywania danych i zarządzania użytkownikami (Telerik Platform, Firebase itp.) co owocuje
            znacznym uproszczeniem
            zarządzania serwerem i obniżeniem kosztów.</p>

        <p><strong>Node.js</strong> - serwer Node.js stosowany obecnie przez największe firmy i portale na świecie (np.
            PayPal, LinkedIn, Ebay, Yahoo!) daje nam komfort wykorzystania JavaScript w obu warstwach architektury,
            upraszcza
            konserwację, obniża koszty platformy, zwiększa skalowalność i wydajność.
        </p>

        <p><strong>Bazy danych NoSQL</strong> - stosujemy nowoczesne bazy dokumentów
            (MongoDB, CouchDB) do przechowywania danych i uproszczenie komunikacji pomiędzy
            warstwami systemu. NoSQL daje nam wolność, która przyspiesza rozwój i ułatwia zmiany. W
            razie potrzeby możemy użyć serwerów SQL, takich jak Postgress i MySQL.
        </p>

    </div>
</div>

<!--------------------  TECHNOLOGIES  -------------------->


<div id="technologies" class="ui page grid stackable overview segment">
    <div class="row">
        <div class="column">
            <h1 class="center aligned ui header">
                Co Stosujemy i Na Czym Się Znamy
            </h1>

            <div class="ui horizontal  divider"><i class="heart red icon"></i></div>
        </div>
    </div>

    <div class="center three column aligned row">
        <div class="column">
            <div class="ui image">
                <a href="http://angularjs.org"><img src="images/angularjs.png"></a>
            </div>
        </div>

        <div class="column">
            <div class="ui image">
                <a href="http://www.html5rocks.com/"><img src="images/html-css.jpg"></a>
            </div>
        </div>

        <div class="column">
            <div class="ui image">
                <a href="http://nodejs.org/"><img src="images/node.png"></a>
            </div>
        </div>
    </div>

    <div class="center three column aligned row">
        <div class="column">
            <div class="ui image">
                <a href="http://www.mongodb.org/"><img src="images/mongo.png"></a>
            </div>
        </div>

        <div class="column">
            <div class="ui image">
                <a href="http://couchdb.apache.org/"><img src="images/couchdb.png"></a>
            </div>
        </div>

        <div class="column">
            <div class="ui image">
                <a href="http://www.firebase.com/"><img src="images/firebase.png"></a>
            </div>
        </div>
    </div>

    <div class="center three column aligned row">
        <div class="column">
            <div class="ui image">
                <a href="http://sass-lang.com/"><img src="images/sass-less.png"></a>
            </div>
        </div>

        <div class="column">
            <div class="ui image">
                <a href="http://foundation.zurb.com/"><img src="images/foundation.png"></a>
            </div>
        </div>

        <div class="column">
            <div class="ui image">
                <a href="http://getbootstrap.com/"><img src="images/bootstrap.png"></a>
            </div>
        </div>
    </div>


    <div class="center three column aligned row">
        <div class="column">
            <div class="ui image">
                <a href="http://onsenui.io/"><img src="images/onsen.png"></a>
            </div>
        </div>

        <div class="column">
            <div class="ui image">
                <a href="http://cordova.apache.org/"><img src="images/cordova.png"></a>
            </div>
        </div>

        <div class="column">
            <div class="ui image">
                <a href="http://ionicframework.com/"><img src="images/ionic.png"></a>
            </div>
        </div>
    </div>

</div>

<!--------------------  FOOTER  -------------------->

{% include footer-pl.html %}

</body>

</html>
